<div class="footer clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-xs-12">
        <div class="footerLink">
          <h5>商品をお探しなら</h5>
          <ul class="list-unstyled">
            <li><a href="product_grid_left_sidebar.html">SHOES</a></li>
            <li><a href="product_grid_left_sidebar.html">BAGS </a></li>
            <li><a href="product_grid_left_sidebar.html">GLASSES </a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-2 col-xs-12">
        <div class="footerLink">
          <h5>BIGBAGについて</h5>
          <ul class="list-unstyled">
           <li><a href="about_us.html">ABOUT US</a></li>
           <li><a href="privacy_policy.html">プライバシーポリシー</a></li>
           <li><a href="tokushoho.html">特定商取引法についての表記</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
